/* CSS Document */
* { margin:0; padding:0; position:relative; float:left; /*width: 100%;*/}

/* pozadi stranky,font stranky. */
body
{ font-family: /*Arial, Helvetica, sans-serif*/'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size:small;  
  background-color:rgb(216,216,216);
  /*background-color:rgb(234,234,234);
  background-image : url('../img/bg4.png');
  background-repeat: repeat;*/}

h4
{ margin: 10px 0px 10px 0px;}

h1
{ display:block;
  width: 950px;
  font-size: 16px;}

ul
{ margin-top: 20px;}

ul li
{ list-style-type: none;
  width: 350px;
  padding: 1px;}

a
{ color: rgb(0,32,160);}

p *
{ float: none;}

li.chosen
{ background-color: rgb(153,204,153);}

li.folder
{ background-image: url('../img/folder.png');
  background-repeat: no-repeat;
  padding-left: 25px;}

li.img
{/* background-image: url('../img/folder.png');
  background-repeat: no-repeat;*/
  padding-left: 20px;}

#wrapper 
{ position: relative;
  float: left;
  width: 960px;
  height: 100%;
  margin: 10px;}
  
#left
{ float: left;
  height: 430px;
  width: 270px;
  padding: 10px 5px 10px 0px;
  border-right: 1px solid rgb(114,114,114);}

#left input
{ margin: 2px 0px 2px 0px;}

#left .form
{ width: 240px}

#middle
{ float: left;
  height: 100%;
  width: 400px;
  /*margin: 10px;*/
  padding: 10px 10px 40px 10px;
  background-color: rgb(176,192,250)}

#right
{ float: left;
  height: 430px;
  width: 220px;
  padding: 10px 5px 10px 10px;
  border-left: 1px solid rgb(114,114,114);}

#right .form
{ width: 220px}

#right .form img
{ float: left;
  margin: 0px 30px 20px 30px;}

#right p
{ float: left;
  width: 220px;}

#right a
{ -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: black;
  text-decoration: none;
  margin: 10px;}

#choose
{ float: left;
  padding: 5px 20px 5px 20px;
  background-color: rgb(102,204,102);
  border: 2px solid rgb(0,153,0);}

#delete
{ float: right;
  padding: 5px 5px 5px 5px;
  background-color: #ccb6a9;
  border: 2px solid #878787;}

a#choose:hover
{ background-color: rgb(102,204,51);}

a#delete:hover
{ background-color: #be9292;}
  
.error
{ background-color: rgb(255,96,112);
  background-image: url('../img/err.png');
  background-position: 10px 5px;
  background-repeat: no-repeat;
  color: rgb(128,16,0);
  width: 850px;
  padding: 15px 10px 15px 60px;
  margin: 5px 10px 15px 5px;
  border: 2px solid rgb(144,16,0)}

.info
{ background-color: rgb(127,240,80);
  background-image: url('../img/ok.png');
  background-position: 10px 5px;
  background-repeat: no-repeat;
  color: rgb(0,80,0);
  width: 850px;
  padding: 15px 10px 15px 60px;
  margin: 5px 10px 15px 5px;
  border: 2px solid rgb(0,80,0)}

legend
{ float:none}

.form
{ float: left;
  background-color: #bbbbbb;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 11px;
  border: 1px solid rgb(176,192,230)}

.form div
{ height: 25px;
  width: 220px;}

.form input[type=checkbox]
{ height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;}

.form span
{ margin: 4px 0px 10px 10px;}