div, fieldset {position:relative;}
/* {z-index:0;}*/
.left_panel *, .right_panel *, ul, input
 { margin:0; padding:0;/*width: 100%;*/}

/* pozadi stranky,font stranky. */
body
{ /*font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Georgia, sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;  
  background-color:#444444;
  color: white;
  background-image : url('../img/bg.jpg');
  background-repeat: repeat;
  margin: 0px;
  padding: 0px;
  behavior: url("csshover3.htc");}

p
{ text-align: justify;}
  
input
{ margin-bottom: 2px;
  margin-top: 2px;}

img
{ border: none;}

a
{ font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #156669/*#759fa1*/}	
 
a:hover
{ text-decoration: none;
  color: black;}

.header ul li, .right_panel ul li, .left_panel ul li
{ list-style-type : none;}

h1 
{ font-size : 24px;}

h2
{ margin-bottom: 6px;
  margin-top: 2px;
  font-size: 14px;}

th
{ font-weight: bold;
  font-size: 11px;}

.mandatory
{ visibility: hidden;
  display: none}

img.hint
{ margin-bottom: -5px;}
.right
{ float: right;}	

.add_this
{ float:left;
  padding: 2px;
  z-index: 5;}

.addthis_button
{ float:right;
  width: 150px;
  padding: 5px;
 /* background-color: #eeeeee;
  border: 1px solid #dddddd;*/}

#bg_head
{ display: block;
  position: absolute;
  width: 100%;
  height: 350px;
  left: 0px;
  top: 0px;
  background-image : url('../img/bg_head.jpg');
  background-repeat: repeat;}

#wwidth
{ margin-left: auto;
  margin-right: auto;
  height: 100%;
  width:1040px;
  float: none;}
 
#wrapper
{ margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width:912px;
 /* background-color: black;/* gold rgb(190,181,75), green rgb(48,144,0)*/
  font-size:90%;
  float: none;}

/* This is the Alsett Clearing Method. */
#wrapper:after
{
 clear: both;
 content: ".";
 display: block;
 height: 0px;
 visibility: hidden;
}

/* ----------------------------------------------- FORM ------------------------------------------*/

form
{ margin-top: 10px;
  margin-bottom: 10px;
  float:left;
  height: 100%;}
.form
{ width: 505px;
  float: left;
 /* background-color: #99cc66;
  /*color: #dddddd;*/
  background-image: url('../img/form_bg.jpg');
  padding: 10px;
  border: 1px solid #999999;
  margin-top: 5px;
  margin-left: -1px;
  margin-bottom: 5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;}

.form input[type=text], .form input[type=password]
{ height: 13px;
  padding: 4px 6px 4px 6px;}
  
#content input[type="submit"], #content input[type="button"]
{ border:none; background: #558bc8; font-size: 13px;  
  font-weight: 400; padding: 8px 20px; min-width: 80px; margin: 3px; color: #fff; float: left;
  text-align: center; border-radius: 6px; text-decoration: none; position: relative}
#content input[type="submit"]:hover { background: #2F6099}
  
#content input[type="submit"].submitCancel { background: #888}
#content input[type="submit"].submitCancel:hover { background: #666}

#content input[type="submit"].submitSend { background: #217E1D}
#content input[type="submit"].submitSend:hover { background: #115F0F}


.form_part
{ float: left}

.form_part_disabled
{ color: #444444;}

.fill
{ background-color: #ffd6d7;}

/*.form a
{ color: black;}*/

.td_left
{ float: left;
  width: 130px;
  height: 21px;
  text-align: right;
  padding: 6px 20px 0px 0px;
  margin: 4px 0px 4px 0px;}

.td_right
{ float: left;
  width: 440px;
  height: 27px;
  margin: 4px 0px 4px 10px;}

.td_one
{ float:left;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;}

.td_line
{ float:left;
  width: 100%;
  margin-top: 5px;
  border-top: 1px solid rgb(116,116,116);
  padding-top: 5px;}
 
 #cke_editor1
 { margin-left: -10px;
   margin-right: -8px;
   float:left;
   position: relative}

 #cke_editor1 span.cke_skin_kama
 { border: none;}


/* -------------------------------------------  HEADER  -----------------------------------------*/

/* hlavicka stranky*/
.header 
{ position:relative;
  float:left;
  height: 323px;
  width: 912px;
  text-align: center;
  margin: 0px;
  background-image : url('../img/header_top.png'); 
  background-repeat: no-repeat;}

#left_circles
{ position : absolute;
  left : -79px;
  top : 51px;}

#right_circles
{ position : absolute;
  right : -56px;
  top : 100px;}

#header_body
{ position : relative;
  float: left;
  height : 218px;
  width : 912px;
  margin-left : 0px;
  margin-top : 105px;
  background-image : url('../img/head_body.jpg');}
  
#header_pics
{ width : 432px;
  height: 187px;
  position: absolute;
  top: 14px;
  background: black;
  left : 464px;}
  
#header_pics img
{ display: none}

#brands_div
{ /*border: 1px solid white;*/
  position: absolute;
  top: 38px;
  left: 5px;
  height: 78px;
  width: 450px;}

#brands_div div
{ position: relative; float: left; width: 88px; height: 84px;}
#brands_div div a { width: 90px; height: 84px; display: block}

#brands_div div img
{ position:absolute;  top: 0px;  left:0px; }

.img-hover { display: none;  }
#brands_div a:hover .img-hover { display: block; }


#brands_sec_div
{ /*border: 1px solid white;*/
  position: absolute;
  top: 110px;
  left: 5px;
  height: 40px;
  width: 440px;}

#brands_sec_div div
{ position: absolute;
  width: 60px;
  height: 36px;
  left: 2px;}

#brands_sec_div div img
{ display: none;}

#logo
{ position: absolute;
  top: 0px;
  left: 411px;
  z-index: 100;}

#logo img
{ z-index: 25}


#menu
{ position : relative;
  float: left;
  height : 42px;
  width : 890px;
  margin-left : 7px;
  margin-top : 8px;
  background-image : url('../img/menu_bg.jpg');}

#path
{ position: absolute;
	top: 324px;
  left: 190px;
  z-index: 101;
  font-size: 11px;
  color : #156669;
  /*color: #999999*/}

#path a
{ display: block;
  height:11px;
  margin: 0px 2px;
  padding:2px 3px;
  font-size: 11px;
  background: #233239;/*#7ff38c;*/
  float:left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;}
#path a:hover
{ background: #7ff38c;
  }
#path span {margin: 0px 2px; display: block; float:left; padding:2px 2px;}
/*#path a
{ font-size: 11px;color : #aaaaaa;}

#path a:hover
{ color: white;}*/

#wr_body
{ float: left;
  height: 100%;
  width: 912px;
  padding-bottom: 20px;
  background-image: url('../img/wrapper_bg.jpg');
  background-repeat: repeat;}

#wr_path
{ float: left;
  height: 15px;
  width: 713px;}

/* -------------------------------------------  MENU  --------------------------------------------*/

ul#main_menu
{ position : relative;
  float: left;
  padding: 3px;
  margin-top: 21px;}

#main_menu li
{ font-size: 12px;
  margin: 0px 0px 0px 0px;
  padding: 2px 5px 2px 5px;
  width: 145px;
  position: relative;
  float:left;
 /* background-color: #b8d2d9;
  /*background-color: #7ff38c;*/
  z-index: 2;
  border-bottom: 1px solid #888888;}

#main_menu li.li_brand
{ font-size: 13px;
  padding : 7px 5px 6px 6px;
  margin: 0px;
  width: 144px;
  height: 18px;
  background-color: transparent;
  background-image: url('../img/menu_brand.jpg');
  position: relative;
  z-index: 2;
  border: none;}

#main_menu li.li_brand a
{ font-weight : 600;
  color : #551310;
  font-size: 14px}

#main_menu li a
{ font-size: 12px;
  text-decoration: none;
  width: 150px;
  display: block;
  color : #551310;
  padding: 2px 0px 2px 0px;
 /* font-weight : 600;*/}

#main_menu li:hover
{ background-color : #a0ce63;/*#2e993a;*/}

#main_menu li.li_brand:hover
{ background-color: transparent;}

#main_menu a:hover, #main_menu li.li_brand a:hover
{ color: black;}

#main_menu li.in a
{ color: white;
  /*text-decoration: underline;*/}

#main_menu li ul 
{ position : relative;
  float: left;
  padding: 3px;}

#main_menu ul ul li
{ position : relative;
  float: left;
  padding-left: 15px;
  width: 135px;
  background-color: #b7d1d7;/*#c7c4a2;/*#d5d3ba;*/}
  
#main_menu ul ul li a
{ }

#main_menu li.in a
{ color : #156669;/*#2e993a;*/
  font-weight: 700;}

#main_menu li.submenu0:hover, #main_menu li.submenu1:hover,
#main_menu li.submenu2:hover
{ background-color: transparent}

#main_menu li.submenu0, #main_menu li.submenu1, #main_menu li.submenu2
{ border: none; padding: 0px; border: 0px; margin: 0px;
  height: 100%;
  width: 100%;
  position: relative;}

#main_menu li.submenu0 ul, #main_menu li.submenu1 ul, #main_menu li.submenu2 ul
{ padding: 0px; margin 0px;}

/* -------------------------------------------- Stred --------------------------------------------*/

#content
{ float: left;
  height: 100%;
  margin : 5px 10px 0px 10px;
  width: 556px; z-index: 2;
  background-image: url('../img/content_bg.jpg');
  background-repeat: repeat;}
  
.middle_panel 
{ float: left;
  width: 530px;
  height: 100%;
  color: black;
  /*background-color: #dcf3f4;*/
  background-image: url('../img/content_top.jpg');
  background-repeat: no-repeat;
  z-index: 0;
  padding: 0px 15px 10px 15px;}

.mp_bottom
{ position: absolute;
  background-image: url('../img/content_bottom.jpg');
  background-repeat: no-repeat;
  width: 556px;
  height: 12px;
  left: 0px; bottom: -10px;
  z-index: 0;}

.middle_panel h1
{ margin-left: 5px;
  color: #540c0c;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: -1px;
  }

.si_view_text p, .si_view_text ul
{ width: 525px;}	

.middle_panel li
{ margin-left: 20px;
  width: 500px;}

/*.middle_panel a
{ color: #5c1e00;}
*/

/* ------------------------------ Strankovani --------------------------------- */

.paging
{ float: right;
  width : 300px;
  font-size: 10px;
  margin-left: 130px;
  padding: 3px;
  /*border: 1px solid #dddddd;
  background-color: #3b203d;*/}

.page_numbers a
{ padding: 4px 5px 4px 5px;
  margin: 5px 1px 2px 1px;
  /*border: 1px solid #666666;*/
  font-size: 11px;}

.page_numbers a:hover
{ background-color: #8cba63; /*156669*/
  color: black;}

.page_numbers a.in
{ background-color: #8cba63;
  color: black;}

.page_numbers span
{ padding: 4px 5px 4px 5px;
  margin: 5px 1px 2px 1px;
  color: #666666;
  /*border: 1px solid #666666;*/}

.page_numbers
{ margin-top: 10px;}


.brw_with_bg
{ background-image: url('../img/brw_bg.jpg');}
 
 .right_top_button
{ float:right;
  margin: -20px 5px 10px 400px;}

.add_button
{ font-size: 11.5px;
  background-image: url('../img/add_button.png');
  height: 23px;
  padding: 5px 0px 0px 0px;
  width: 115px;}

.add_button a
{ display: block;
  text-align:right;
  float:right;
  width: 100px;
  padding-right: 10px;
  margin: 0px;}


/* --------------------------------- SPODEK -------------------------------------*/

#bottom
{ margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width:912px;
  height: 28px;
  padding-top : 10px;
  float: none;
  background-image: url('../img/wrapper_bottom.png');
  background-repeat: no-repeat;}
  
#bottom p
{ float: left;
  font-size: 11px;
  margin: 0px 25px 0px 25px;}

#bottom a:hover
{ color: white;}

/* --------------------------------- Levej panel ----------------------------*/
.left_panel 
{ width: 162px;
  height: 100%;
  margin-left : 10px;
  margin-top: -51px;
  float: left;}

.left_box
{ float: left;
  height: 100%;
  color: #0a212d;}

.lbox_head
{ float:left;
  width: 162px;
  height: 100%;
  background-image: url('../img/box_top.jpg');
  background-repeat: no-repeat;}

.lbox_content
{ float:left;
  width: 162px;
  height: 100%;
  background-image: url('../img/lbox_content.jpg');
  background-repeat: repeat;}

.lbox_tail
{ float:left;
  width: 162px;
  height: 23px;
  background-image: url('../img/lbox_bottom.jpg');
  background-repeat: no-repeat;}

.menu .lbox_head
{ background-image: url('../img/menu_head.jpg');}

/* --------------------------------- Pravej panel ----------------------------*/
.right_panel 
{ width: 124px;
  height: 100%;
  float: left;}

.right_box
{ float: left;
  height: 100%;
  margin-bottom: 10px;
  color: rgb(0,0,0);}

.box_head
{ float:left;
  width: 124px;
  height: 100%;
  padding : 15px 10px 2px 10px;
  background-image: url('../img/box_top.jpg');
  background-repeat: no-repeat;}

.box_content
{ float:left;
  width: 144px;
  background-color: white;
  /*background-image: url('../img/box_bg.jpg');
  background-repeat: repeat;*/}

.box_tail
{ float:left;
  width: 144px;
  height: 15px;
  background-image: url('../img/box_bottom.jpg');
  background-repeat: no-repeat;}

.right_box h3
{ color: #0a212d;
  margin-top: -22px;
  padding: 0px 0px 10px 10px;
  font-size: 20px;
  font-weight: 1200;}
/*.right_menu h3
{ color: #156669;
  padding: 0px 3px 5px 3px;}*/

ul.right_menu
{ padding: 3px 3px 3px 12px;}

ul.right_menu li
{ padding: 2px;
  list-style-type: disc;}

.right_menu li a
{ font-size: 11.5px;}

.login_box input
{ margin: 3px 0px 3px 0px;}

#cart_box
{ width: 139px;
  height: 65px;
  padding: 60px 0px 0px 5px;
  background-image: url('../img/cart_panel.jpg');
  margin-top:-16px;}

#goods_banner
{ width: 145px;
  float:left;
  height: 304px;
  background: url('../img/rbanner.jpg')}

#goods_banner ul li
{ display:none;}

#gallery_pics
{ margin-bottom: -20px;}

#gallery_pics li
{ margin: 2px 0px 2px 10px;
  text-align: center;}

#gallery_pics img
{ padding : 2px; 
  border: 1px solid #aaaaaa}

#gallery_pics img:hover
{ border: 1px solid #777777;}

/* -------------------------------------- UTILS -------------- ----------------------------*/

.content_block
{ float: left;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;}

.twin1 { margin-bottom: 1px;}
.twin2 { margin-top: 0px;}

.text_block
{ position: relative;
  float: left;
  margin: 10px;}

.note
{ font-size: 10px;
  color: #333333;}

.error
{ background-color: #dbb2b2;
  background-image: url('../img/err.png');
  background-position: 10px 5px;
  background-repeat: no-repeat;
  color: #3f1b1b;
  width: 450px;
  float:left;
  padding: 10px 10px 5px 60px;
  margin: 0px 10px 15px 5px;
  border: 1px solid #3a2b2b;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;}

.info
{ /*background-color: #b8dcb8;
background-position: 10px 5px;
  background-repeat: no-repeat;*/
  background: #b8dcb8 url('../img/ok.png') no-repeat 10px 5px;
  color: rgb(0,80,0);
  float:left;
  width: 450px;
  padding: 10px 10px 10px 60px;
  margin: 0px 10px 15px 5px;
  border: 1px solid rgb(0,80,0);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;}


.navig ul
{ width: 540px;
  float:left;
  margin-bottom: 10px;
  border: 1px solid #555555;
  margin-left : 10px;
  background-color: rgb(25,25,25);}
  
.navig ul li
{ list-style-type: none;
  float: left;
  border-right: 1px solid #eeeeee;
  padding-right : 5px;
  margin: 5px 0px 5px 5px;}

.navig a, .navig ul li, .navig ul li a
{ font-size: 10px;
  color: #cccccc;}
  
a#preorder_link
{ font-size:12.5px;color:#993333;font-weight:bold}

a#preorder_link:hover
{ color:#000000;}

/* ---------------------------------- forum ------------------------------*/

.fpost
{ width: 490px;
  float: left;
  position: relative;
  background: url('../img/cart_table_bg.jpg');
  border: 1px solid #90c06b;
  padding: 10px 20px 10px 20px;
  margin-top: 1px;
  margin-bottom: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;}

.cpost
{ width: 600px;
  float: left;
  position: relative;
  background-color: #cccc99;
  padding: 10px 20px 10px 20px;
  border: 1px solid #aaaaaa;
  margin-top: 1px;
  margin-bottom: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;}

.fpost h6
{ margin-top: 0px;}
 
 .rightup
{ position: absolute;
  top: 15px;
  right: 10px;
  width: 140px;
  text-align: right;
  color: rgb(80,80,80);
  font-size: 90%;}

 .comments
 { float: left;
   margin-top: 10px;
   width: 620px;
   border-top: 1px solid #444444}
 
 .cap_part {
  position:absolute; 
  right:-20px; 
  top: 20px;
  color:#777777; 
  z-index: 10; 
  font-size:26px; 
  font-weight: bold;
}

.rightdown
{ position: absolute;
	bottom: 15px;
  text-align: right;
  width: 100%;
  right: 15px;
  vertical-align: text-bottom;}
 
 .edit_table
 { float:left;
   position: relative;
   width: 100%;}

/* ---------------------------------- slider ------------------------------*/


.nivo-controlNav {
	position:absolute;
	left:47%;
	bottom:-10px;
}
.nivo-controlNav a {
	display:block;
	width:10px;
	height:10px;
	background:url('../img/bullets.png') no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:-10px 0;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url('img/arrows.png') no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption a { 
    text-decoration:underline;
}


/* ---------------------------------- SHOP ------------------------------*/

.brw_table
{ margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 400px; border-spacing: 0;
  }

.brw_table th { background: #666; padding: 5px; color: #fff; font-weight: 400}

.brw_table td { background-color: #eee; padding: 7px 5px; font-size: 12px;}
.brw_table tr:nth-child(odd) td { background: #f6f6f6}

.brw_table tr:hover td { background: #CFECCE}

.badge { padding: 2px 5px; border-radius: 10px; color: #fff}

.cke_skin_kama
{ margin-left: -18px;}

.cke_skin_office2003
{ margin-left: -8px;}

.present_el
{ float: left;
  width: 100%;}

.shop_brw
{ margin: 10px -5px 5px -10px;
  float:left;
  width: 545px;
  height: 100%;}

h2.h2_head
{ margin-left: 5px;
  color: #540c0c;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  letter-spacing: -1px;
  border-top: 2px solid #540c0c;
  /*background: #F2F2D0;
  border: 1px solid #999999;
  padding:5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;*/
  }

.shop_item h2
{ height: 20px}

.shop_item h2 a
{ display: block;
  width: 240px;
  font-size: 15px;
  padding: 5px 0px 5px 0px;}

.shop_item
{ position: relative;
  float: left;
  width: 251px;
  height: 355px;
  margin: 10px 2px 10px -1px;
  padding: 5px 10px 10px 10px;
  background-image: url('../img/si_bg1.jpg');
  background-repeat: no-repeat;
 /* background-color: white;*/}

.shop_item p
{ font-size: 10px;
  margin-bottom: 2px;}

.si_descr
{ height: 100px;
  padding: 3px;}

.si_foto
{ margin-top: 18px;
  height: 180px;}

.si_foto img
{ border: 1px solid #aaaaaa;}
.si_foto img:hover
{ border: 1px solid #540c0c;}

.si_foto div
{ float:left;
  font-weight: 600;
  color:#111111;
  font-size: 12px;
  height: 20px;
  margin: 10px 0px -5px 0px;}

.si_foto img
{ float:left;
  margin-right: 10px;}

.si_price
{ width: 180px;
  float:left;
  min-height:15px;}

.si_price span
{ font-size:16px;
  color:#540c0c;
  font-weight:600;
  letter-spacing:-1px}

.si_order
{ width: 59px;
  float: right;
  margin-right: -2px;
  margin-top: -10px;}

.si_order a
{ display: block;
  width: 59px;
  height: 30px;
  text-indent: -3000px;}

.si_view_head
{ float:left;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;}

.si_view_head img
{ float: left;
  margin-right: 10px;
  border: 5px solid #90c06b;
  padding: 2px;
  background-color: #dddddd;}

.si_view_head p
{ width: 340px;
  float:left}
  
.si_view_text
{ float:left;
  background-color: white;
  margin: -11px -5px 0px -15px;	
  padding: 11px;
  border: 2px solid #bbbbbb;
  width: 100%;
  height: 100%;}

.si_view_order
{ float:left;
  width: 365px;
  margin-left: -14px;
  padding: 0px 4px 0px 4px;
  font-size: 12px;
  background-color: #90c06b;
  border-spacing: 1px;}

.si_view_order img
{ padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
  margin: -3px 0px -5px 0px;}

.si_view_order td
{ padding: 3px 4px 3px 4px;
  background-color: #bcdbe6}

.si_view_order .row_odd td
{ background-color: #dae9ef}/*79ae8e,90c06b*/

.si_view_order th
{ padding: 3px 4px 3px 4px;
  font-size: 10px;
  background-color: #90c06b}

.si_view_order tr:hover td
{ background-color: #b5e9bb;}
  
/* ---------------------------------- CART ------------------------------*/

#cart_table
{ width: 520px;
  background: url('../img/cart_table_bg.jpg');
  border: 1px solid #555555;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-spacing: 0px;
  }

#cart_table tr
{ border-top: 1px solid #666666;}

#cart_table td
{ padding: 6px;
  background-color: transparent;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-top: 1px solid #777777;}

#cart_table th
{ padding: 6px;}

#cart_table thead 
{ background: url('../img/cart_table_head.jpg');}

#cart_total
{ width: 200px;
  float: right;
  margin: 10px 10px 10px 0px;
  border-top: 1px solid #555555;}

#cart_total td
{ background-color: transparent;}

#order_navig
{ float:right;
  margin: 20px 10px 20px 0px;
  height: 30px;
  width: 520px;}

#order_navig a
{ float: right;}

.addr_table
{ padding: 5px 10px;
  width: 370px;
  background: url('../img/cart_table_bg.jpg');
  border: 1px solid #555555;
  margin-right: 100px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-spacing: 0px;}

.addr_table td
{ padding: 6px;}

#order_line_cont
{ width: 536px;
  height: 40px;
  background: url('../img/order_line.jpg')  0px 26px no-repeat;
  float:left;
  margin: 5px 0px 30px -3px;}

#order_line_cont span
{ position:absolute;
  top: 2px;
  color: #999999;}

#order_line
{ height: 14px;
  width: 11px;
  position: absolute;
  bottom: 0px;
  left:0px;
  background: url('../img/order_line.jpg')  0px -14px no-repeat;}

/* ---------------------------------- ------ ------------------------------*/
/* ---------------------------------- BAZAR -------------------------------*/


.bazar_td
{ width: 515px;
  float: left;
  height: 105px;
  position: relative;
  background: url('../img/cart_table_bg.jpg');
  border: 1px solid #90c06b;
  margin: 3px 0px 13px 0px;
  padding: 3px 5px 3px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;}

.bazar_td .rightup
{ right: 125px;
  top: 5px;}

.bazar_td a.pic
{ position:absolute;
right: 5px;
top: 3px;
  width: 100px;
  height: 100px;
  padding: 3px;
/*  background-color: #90c06b;
  
 /* border: 1px solid #90c06b;*/}

.bazar_text
{ float:left;
  width: 380px;
  height: 100%;}

.b_detail
{ position:absolute;
  right: 125px;
  bottom: 10px;}
 
.b_prize
{ position: absolute;
  bottom: 0px;
  left: 10px;
  font-weight: bold;}

.ad_text
{ float: left;
  width: 380px;
  padding: 0px 10px 5px 10px;
  margin: 5px;}

.ad_pic
{ float:left;
  width: 100px;
  height: 100px;
  padding: 12px 10px 10px 10px;
  margin: -10px -4px 0px 0px;
  background-color: #90c06b;
  border: 1px solid #888888;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;}

.ad_pic img
{ border: 1px solid #999999;}

.ad_contact
{ float:left;
  width: 520px;
  margin: 0px 0px 20px 5px;}
  
/* -------------------- faktura ---------------- */

.order_items td, .order_items th
{ border: 1px solid #444444;
  padding: 5px;
  border-spacing: 0px 5px;}


/* -------------------------------- SEARCH ---------------------------------- */

#search
{ border:none;
  position: absolute;
  width: 270px;
  height:20px;
  bottom: 12px;
  left: 178px;}

#search form
{ margin: 0px;}

input#searchRight
{ -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 1px;
  width:130px;
  float:left;
  border: 1px solid #aaaaaa;}
.input_in { background: #7ff38c;  color: black}
.input_out { background: #cccccc;  color: #444444}
  
input#search_butt
{ height: 15px;
  width: 15px;
  margin: 4px 0px 0px -18px;
  float:left;
  padding: 0; min-width: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;}
  
#search a, #search_panel a, .special_link
{ display: block;
  height:14px;
  margin: 1px 0px 0px 4px;
  padding:3px 5px;
  font-weight:bold;
  font-size: 13px;
  background: #233239;/*#7ff38c;*/
  float:left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;}
#search a:hover, .special_link:hover
{ background: #7ff38c;
  }

#search_panel ul li
{ float:left;
  position: relative;
  display: list-item;
  margin: 0px;
  padding:0px;
  width: 50px;}
#search_panel ul
{ float:left;
  margin:0px;
  list-style-type: none;}

#search_panel
{ width: 200px;
  padding:15px;
  float:left}
#search_panel a {border: 1px solid #aaaaaa	;}
#search_panel a.in,#search_panel a:hover
{ background: #7ff38c;
  border: 1px solid #aaaaaa	;}


#cke_nl_text { margin-left: 0;}

#export_form
{ background: #BDBEA0; padding: 5px; margin: 10px 14px; float: left;
  z-index: 11; position: relative; width: 490px}
#export_form .chosen-container, #export_form label { float: left; margin: 0 5px}
#export_form label { padding: 5px 0; font-size: 13px}
#export_form input[type='submit'] { margin: 1px 0 0 5px; padding: 6px 15px}

.middle_panel li.search-choice { width: auto;}