body { font-family: 'Helvetica', 'Arial', sans-serif; padding: 20px; text-align: left; font-size: 14px;
line-height: 1.8em; }

img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; max-width: 600px}
a img {border:none;}
.image_fix {display:block;}
p {margin: 1em 0;}
table td {border-collapse: collapse;}
p { line-height: 21px; font-size: 14px;}
h2 { font-size: 17px; color: #00b0a1; text-align: left; text-decoration: underline}
h3 { font-size: 17px; color: #7c1212; text-align: left; text-decoration: underline}
h4 { font-size: 15px; margin: 0 0 10px 0;color: #555; text-align: left; text-decoration: none}

a { color: #00b0a1; text-decoration: underline; }